html,body
{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.rose-container
{
    margin-top: 20vh;
    width: 100vw;
    background-color: black;
    height: 100vh;
}

.rose-main
{
    background-color: rgb(20, 125, 125);
    width: 900px;
    height: 70vh;
    /* display: ; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* padding-top: -10px; */
    /* justify-items: center; */
}

.rose
{
    background-color: rgb(1, 102, 27);
    /* size: 10vw; */
    height: 20px;
    width: 90px;
    border-radius: 100px 100px 10px 10px;
    position: absolute;
    margin-top: 120px;
    z-index: 10;
    animation: rose-anim 10s ease 1;
    /* animation-delay: 2s; */
    /* opacity: ; */
}

.petal1
{
    position: absolute;
    background-color: rgb(167, 19, 48);
    height: 130px;
    width: 80px;
    border-radius: 0 100px 100px 100px;
    margin-right: 40px;
    margin-bottom: 30px;
    /* margin-top: 100px; */
    /* rotate: 10; */
    /* transform: rotate(90deg); */
    animation: petal-anim 3s ease 1;
    z-index: 0;
}
.petal2
{
    position: absolute;
    background-color: rgb(195, 44, 74);
    height: 130px;
    width: 80px;
    border-radius: 0 100px 100px 100px;
    margin-left: 30px;
    margin-bottom: 30px;
    /* rotate: 10; */
    transform: rotateY(180deg);
    animation: petal-anim 5s ease 1;

    z-index: 0;
}
.petal3
{
    position: absolute;
    background-color: rgb(214, 118, 137);
    height: 130px;
    width: 80px;
    border-radius: 0 100px 100px 100px;
    margin-left: 50px;
    animation: petal-anim 6s ease 1;
    /* rotate: 10; */
    transform: rotateY(180deg);
    z-index: 0;
}
.petal4
{
    position: absolute;
    background-color: rgb(108, 10, 31);
    height: 130px;
    width: 80px;
    animation: petal-anim 8s ease 1;
    border-radius: 0 100px 100px 100px;
    margin-right: 50px;
    /* rotate: 10; */
    /* transform: rotate(90deg); */
    z-index: 1;
}
.petal5
{
    position: absolute;
    background-color: rgb(144, 26, 50);
    height: 100px;
    width: 80px;
    border-radius: 0 100px 100px 100px;
    margin-right: 20px;
    margin-top: 40px;
    /* rotate: 10; */
    /* transform: rotate(90deg); */
    animation: petal-5-anim 9s ease 1;
    z-index: 1;
}
.stem
{
    height: 50vh;
    width: 10px;
    background-color: rgb(3, 68, 3);
    /* z-index: 100; */
    margin-top: 450px;
    animation: stem-anim 2s ease-in-out;
    /* visibility: hidden; */
}

.leaf1{
    position: absolute;
    background-color: rgb(10, 108, 48);
    height: 60px;
    width: 60px;
    animation: leaf1-anim 8s ease 1;
    border-radius: 0px 100px 0 100px;
    margin-right: 50px;
    margin-top: 270px;
    z-index: 1;
}

.leaf2{
    position: absolute;
    background-color: rgb(10, 108, 48);
    height: 50px;
    width: 50px;
    border-radius: 0px 100px 0 100px;
    margin-left: 50px;
    margin-top: 400px;
    /* rotate: 10; */
    animation: leaf2-anim 8s ease 1;

    transform: rotateY(190deg);
    z-index: 1;
}

@keyframes stem-anim {
    0%{
        /* bottom: 0; */
        margin-top: 1000px;
        opacity: 0;
        z-index: 0;
    }
    50%
    {
        opacity: 100;
        z-index: 0;
    }
    100%{
    margin-top: 400px;
    opacity: 100;
    z-index: 0;
    }
    
}

@keyframes rose-anim {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 100;}
    
}

@keyframes petal-anim {
    0%{opacity: 0; margin-top: 200px;}
    50%{opacity: 0;margin-top: 100px;}
    100%{opacity: 100; margin-top: 0;}
}
@keyframes petal-5-anim {
    0%{opacity: 0;}
    50%{opacity: 0;margin-top: 90px;}
    100%{opacity: 100; margin-top: 40px;}
}

@keyframes leaf1-anim {
    0%{opacity: 0;margin-right: 0px;}
    10%{margin-right: 30px;}
    50%{        margin-right: 40px;
    }
    100%{opacity: 100;
        margin-right: 50px;
    }
    
}

@keyframes leaf2-anim {
    0%{opacity: 0;margin-left: 10px;}
    50%{        margin-left: 30px;
    }
    100%{opacity: 100;
        margin-left: 50px;
    }
    
}

@media (max-width:600px) {
    .rose-main
    {
        width: 400px;
    }
}
