html, body
{
    height: 100vh;
    padding: 0;
    /* display: flexbox; */
    margin: 0;
    background-color: rgb(71, 178, 178);
    overflow: hidden;
}

.head
{
    margin-top: 200px;
    text-align: center;
    font-family: "Inter Tight", serif;
    font-optical-sizing: auto;
    font-size: 70px;
    /* font-weight: <weight>; */
    font-style: normal;
    max-height: 70px;
}


.ring-container
{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-bottom: 100px;
    /* align-self: ; */
    /* text-align: ; */
    background-color: rgb(71, 178, 178);
}

.ring
{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ring-anim 3s infinite;
}
.gem
{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: rgba(152, 188, 230, 0.787);
    /* margin-left: 0px; */
    transform: rotateZ(45deg);
    margin-bottom: 180px;
    border-radius: 10%;
}

.ring-body
{
    height: 150px;
    width: 150px;
    /* background-color: rebeccapurple; */
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 0 30px rgb(255, 210, 11);
}

.ring-txt
{
    color: brown;
    margin-top: -200px;
    /* text-align: fle; */
    font-family: "Inter Tight", serif;

}


@keyframes ring-anim {
    0%{
        transform: rotateZ(0deg);
    }
    33.3%
    {
        transform: rotateZ(40deg);
    }
    66.6%{
        transform: rotateZ(-40deg);
    }
    100%
    {
        transform: rotateZ(0deg);
    }
    
}


@media (max-width:600px) {

    .head{
        max-height: 40px;
        font-size: 40px;
    }

    html, body{
        overflow:auto;}

}
